{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 60,
  "jsxSingleQuote": true,
  "bracketSameLine": true,
  "jsxBracketSameLine": false,

  "arrowParens": "avoid",
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",

  "plugins": ["prettier-plugin-tailwindcss"]
}
